@tailwind base;

@tailwind components;

@tailwind utilities;

ul {
    list-style: none;
}
textarea {
    width: 100%;
}
select {
    border: 1px solid white;
    outline: none;
}
.product-block li textarea {
    min-height: 50px;
}
.main-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.setting-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.product-block {
    font-family: "Roboto Light", sans-serif;
    padding: 15px 10px;
    width: 300px;
    color: rgb(45, 45, 45);
    box-shadow: 36px -25px 24px -31px rgba(34, 60, 80, 0.2);
    /* border-radius: 13px; */
    border-bottom: 4px solid rgb(0 0 0 / 80%);
    /* background: rgba(187,187,187,0.2); */
    cursor: pointer;
    transition: .4s;
}
.product-block:hover {
    transform: translateY(2px);
}
.product-block > ul li {
    padding: 5px 0;
}
#product-id {
    padding-top: 0;
    font-size: 40px;
    color: rgba(187, 187, 187, 0.8);
}
#product-id li:nth-child(2) {
    font-size: 14px;
    padding-top: 0;
}
.font-weight-bold {
    font-weight: bold;
}
header span {
    padding: 5px 0;
    font-size: 29px;
}
.main-block-show {
    flex-direction: column;
    align-items: center;
}
select[name="services"]{
    margin: 20px 0;
}
.go-back {
    text-decoration: underline;
}
header {
    background: rgb(12 12 12 / 93%);
    padding: 15px 0;
}
header .container {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: #fff;
    margin: 0 10px;
}
header p {
    color: #fff;
    font-weight: bold;
}
.main-block h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
form[name="auth_form"] {
    display: flex;
    flex-direction: column;
}
form[name="auth_form"] > * {
    margin-bottom: 10px;
}
form[name="registration_form"] div, form[name="auth_form"] {
    text-align: center;
    padding: 7px 0;
}
form[name="registration_form"] div label, form[name="auth_form"] label {
    display: block;
}
form[name="registration_form"] div input, form[name="auth_form"] input {
    border-bottom: 1px solid #000;
}
form[name="registration_form"] button, form[name="auth_form"] button  {
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: .2s;
}
form[name="registration_form"] button:hover, form[name="auth_form"] button:hover {
    background: #000;
    color: #fff;
    transition: .2s;
}
.reg_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-menu form > div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-menu div button {
    margin-top: 10px;
    padding: 4px 7px;
    border: 1px solid #000;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
}
.admin-menu div button:hover {
    background: #000;
    color: #fff;
    transition: .2s;
}
.edit_customer, .add_customer, .delete_customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit_block input {
    max-width: 120px;
}
#product-services li {
    display: flex;
}
.add_product textarea, input[type="text"] {
    min-width: 180px;
}
.main-page-block a ul li {
    margin: 10px 0;
}
.pagination {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.pagination nav a {
    margin: 0 10px;
}
.paginate-arrow {
    font-size: 16px;
}
.sort-content form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sort-content form > * {
    margin: 0 5px;
}
.sort-content form button {
    padding: 5px;
    border-bottom: 1px solid #000;
    transition: .2s;
    cursor: pointer;
}
.sort-content form button:hover {
    background: #000;
    color: #fff;
    transition: .2s;
}
.product-setting-bar {
    display: flex;
    justify-content: space-around;
}
.product-setting-bar > a {
    text-decoration: underline;
}
select[id='services']{
    border: 1px solid #000;
}
select[id='services'] option {
    border-bottom: 1px solid #c0c0c0;
}
.items-per-page {
    display: flex;
    flex-direction: row;
}
.items-per-page li {
    text-decoration: underline;
    padding: 3px;
}
.items-per-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
input[name="name"]{
    width: 100px;
    border-bottom: 1px solid #000;
    padding: 5px;
}
nav {
    display: flex;
}
nav a {
    display: block;
}
nav a:first-child {
    max-width: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}